<!DOCTYPE html>

<html>
<head>
    <title>Page Title</title>
    <style type="text/css">
    a:visited {
        color: #00E;
    }
    </style>
</head>

<body>

{% regroup locations|dictsort:"location.state" by location.state as states %}

{% for state in states %}
    <h1>{{state.grouper}}</h1>
    {% for location in state.list|dictsort:"location.city" %}
        <p>
            {% if location.location.city %}
                <a href="/news/{{ location.location.state }}/{{ location.location.city }}">{{ location.location.city }}, {{ location.location.state }} ({{ location.count }})</a>
                {% if location.new %}
                <span style="color: #B10816;">new</span>
                {% endif %}
            {% else %}
                <a href="/news/{{ location.location.state }}">{{ location.location.state }} ({{ location.count }})</a>
            {% endif %}
        </p>
    {% endfor %}
{% endfor %}

</body>
</html>
